<div class="app-footer">
  <% if user_signed_in? %>
    <%= image_tag("baco.jpeg", :alt => "BACO logo", :class => "image-footer") %>
  <% else %>
    <%= image_tag("baco.jpeg", :alt => "BACO logo", :class => "image-footer") %>
  <% end %>
</div>
