// variables colors
$dark-black: #33363b;
$black: #454e5c;
$grey: #acbed1;
$white: #f0f0f0;
$pink: #c80d51;
$blue: #000a47;

// variables font-family
$font-family: "Titillium", sans-serif;

//variables font-size
$size-2: 2rem;
$size-15: 1.5rem;
$size-125: 1.25rem;
$size-1: 1rem;
